ul, body, h1, p {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

.main-content {
  text-align: center;
  padding: 50px;
  color:aliceblue;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.back-project-btn,
.bookmark-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}

.back-project-btn {
  background-color: #3cb4ac;
  color: white;
}

.bookmark-btn {
  background-color: #3cb4ac;
  color: white;
}

/*stats section */

.stats-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.stats-section div {
    flex: 1;
}

.amount-raised h2,
.total-backers h2,
.days-left h2 {
    font-size: 2em;
    margin: 0;
}

.amount-raised p,
.total-backers p,
.days-left p {
    margin: 0;
    color: #7A7A7A;
}

/*about section */

.about-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.about-section h2 {
    margin-bottom: 16px;
}

.pledge-option {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.pledge-option h3 {
    color: hslm(176, 50%, 47%);
    margin-bottom: 10px;
}

.availability {
    font-weight: bold;
    margin-bottom: 20px;
}

.availability.out-of-stock {
    color: red;
}

/*Background Image*/

.background-image {
  background-image: url('./images/bamboostgand.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
}